<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="font-size:2rem; color:red;">{{message1}}</h1>
    <h2 style="font-size:2rem; color:green;">Name:-{{data4.Name}}</h2>
    <h2 style="font-size:2rem; color:blue;">Age:-{{data4.Age}}</h2>
    <h2 style="font-size:2rem; color:darkblue;">Address:-{{data4.Address}}</h2>
  </body>
</html>